/* FOOTER */

footer {
    display: grid;
    grid-template-rows: 240px 200px;
    font-family: $fuente-montserrat;
    color: $color-principal;
    background: linear-gradient(to bottom right, #f5f6f7, rgba(59, 89, 142, 0.901));
}

.contenedorFooter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 300px;
    padding-top: 60px;
}

.nuestrosDatos {
    font-size: 19px;
    font-weight: 500;
    text-align: left;
    display: grid;
    align-items: start;
    padding-top: 60px;
    padding-left: 80px;
}


.contenedorFooterUno {
    text-align: left;
    padding-left: 50px;
    padding-top: 50px;
    font-size: 17px;
}

.trVialWeight {
    font-weight: $fuente-negrita;
}

.contenedorFooterDos {
    text-align: left;
    padding-top: 40px;
    font-size: 17px;



    ul {
        list-style-type: none;
    }

    a {
        color: $color-principal;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: none;
        font-size: 17px;
        transition: $transicion;

        &:hover {
            color: $color-secundario;
            font-size: 20px;
        }
    }
}

.menuNav {
    font-size: 19px;
    font-weight: 500;
    text-align: left;
    padding-top: 60px;
    padding-left: 30px;
}

.contenedorFooterPie {
    font-size: 16px;
    text-align: $texto-centrado;
    align-self: end;
    color: #f5f6f769;
}

.hrDos {
    color: $color-principal;
}

.eliminoViñetas {
    list-style-type: none;
}

.spanDos {
    position: relative;

    &::before {
        content: "";
        background-color: $color-principal;
        position: absolute;
        height: 1%;
        bottom: 0;
        right: 0;
        left: 0;
        border-radius: 4px;
    }
}

.aLink {

    &:link,
    &:visited {
        color: $color-principal;
    }

    &:hover {
        color: $color-principal;
        transition: $transicion;
    }
}