/* MAIN */

/* SECCIÓN DE HOME */

.sectionHome {
    @include flexColumn;
    @include margin;
    justify-content: center;
}

.homeHTres {
    @include titulos;
    font-family: $fuente-montserrat;
}

.homeP {
    font-family: $fuente-montserrat;
    color: $color-principal;
    font-size: $fuente-titulo-responsive;
    padding-top: $padding-arriba;
    padding-bottom: 80px;
}




/* SECCIÓN DE CARRUSEL DE SERVICIOS */

.sectionCarrusel {
    background-color: #f5f6f7;
    padding-top: 70px;
    padding-bottom: 60px;
}

.sectionServiciosHome {
    font-family: $fuente-montserrat;
    font-size: 20px;
    text-align: $texto-centrado;
    color: $color-principal;
    font-weight: bolder;
    padding-bottom: 0;
    margin-bottom: 0;
}

.sectionCarrusel p span {
    position: relative;

    &::before {
        content: "";
        background-color: rgba(59, 90, 142, 0.772);
        opacity: 0.3;
        position: absolute;
        height: 2%;
        bottom: 0;
        right: 0;
        left: 0;
        border-radius: 4px;
    }
}

.sectionServiciosHomeDos {
    font-family: $fuente-vollkorn;
    font-size: 40px;
    text-align: $texto-centrado;
    color: $color-principal;
    padding-bottom: 0;
    margin-bottom: 3px;
}

.hrUno {
    width: 60px;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 15px;
    color: rgba(59, 90, 142, 0.772);
    padding-bottom: 40px;
}

.divCarrusel {
    padding-bottom: 60px;
}

.botonCarrusel {
    text-decoration: none;
    text-transform: uppercase;
    color: $color-principal;
    font-family: $fuente-montserrat;
    transition: $transicion;
    font-size: 25px;
    cursor: pointer;

    &:hover {
        transform: scale(1.1, 1.2);
    }
}

.flechaAnimada {
    color: $color-principal;
    padding-left: 20px;
    animation-name: moverDerecha;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    &:hover {
        transform: scale(1.1, 1.2);
    }
}

.fuenteCarrusel {
    font-size: 25px;
    font-family: $fuente-vollkorn;
    color: $color-secundario;
}

.imagenCarruselServ {
    filter: brightness(0.7);
}



/* SECCIÓN DE GALERÍA */

.sectionGaleriaTitulo {
    font-family: $fuente-montserrat;
    font-size: 20px;
    text-align: $texto-centrado;
    color: $color-principal;
    font-weight: bolder;
    padding-bottom: 30px;
    padding-top: 100px;
    margin-bottom: 0;
}

.divGaleriaHome p span {
    position: relative;

    &::before {
        content: "";
        background-color: rgba(59, 90, 142, 0.772);
        opacity: 0.3;
        position: absolute;
        height: 2%;
        bottom: 0;
        right: 0;
        left: 0;
        border-radius: 4px;
    }
}