/* NOSOTROS */

.nosotrosContenedorPrincipal {
    @include flexRow;
    @include margin;
    justify-content: space-evenly;
    padding-bottom: 70px;
}

.nosotrosContenedorUno {
    width: $ancho-principal;
    color: $color-principal;
}

.nosotrosHUno {
    @include titulos;
    font-weight: $fuente-negrita;
}

.nosotrosP {
    font-family: $fuente-montserrat;
    font-size: 20px;
    padding-top: $padding-arriba;
    padding-bottom: 80px;
}

.nosotrosContenedorDos {
    width: $ancho-principal;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: $padding-arriba;
}

.fotoCamionViejo {
    object-fit: cover;
    width: 60%;
    height: 630px;
    border-radius: 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.6);
}