/* MEDIA QUERIES */

/* HEADER */

@media (max-width:991px) {
    .navbar-nav {
        background-color: rgba(0, 0, 0, 0.781);
    }

    #navbarNavAltMarkup {
        margin-right: 0;
    }


    .navbar-toggler {
        border: rgba(248, 248, 248, 0.465) 1px solid;
    }


    .logo {
        margin-left: 0px;
    }
}

@media (max-width:1151px) {
    .logo {
        margin-left: 0px;
    }
}



/* TITULOS DEL HEADER*/

@media (max-width: 391px) {
    .homeHUno {
        font-size: 28px;
    }
}

@media (min-width: 392px) and (max-width:576px) {
    .homeHUno {
        font-size: 33px;
    }
}

@media (max-width: 576px) {
    .homeHUno {
        @include marginConParametros(30px, 30px);
    }

    .lineaDivisoria {
        margin-bottom: 80px;
    }

    .homeHDos {
        font-size: 14px;
        @include marginConParametros(30px, 30px);
        margin-bottom: 40px;
    }

    .botonHeader {
        font-size: 12px;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    .homeHUno {
        font-size: 35px;
    }

    .homeHDos {
        font-size: 16px;
        @include marginConParametros(60px, 60px);
    }

    .botonHeader {
        font-size: 14px;
    }
}

@media (min-width: 993px) and (max-width: 1151px) {
    .homeHUno {
        font-size: 40px;
    }

    .homeHDos {
        font-size: 18px;
    }

    .botonHeader {
        font-size: 16px;
    }
}


/* MAIN */
/* SECCIÓN DE HOME */

@media (min-width:480px) and (max-width: 1151px) {
    .homeHTres {
        font-size: $fuente-titulo-responsive;
    }

    .homeP {
        font-size: $fuente-pequeña;
    }
}

@media (max-width: 479px) {
    .homeHTres {
        font-size: 21px;
    }

    .homeP {
        font-size: 16px;
    }
}

@media (max-width:792px) {
    .sectionHome {
        @include marginConParametros(50px, 50px);
    }
}



/* SECCIÓN CARRUSEL DE SERVICIOS */


@media (min-width:476px) and (max-width:792px) {
    .sectionServiciosHome {
        font-size: 16px;
    }

    .sectionServiciosHomeDos {
        font-size: 30px;
    }

    .botonCarrusel {
        font-size: 20px;
    }

    .fuenteCarrusel {
        font-size: 20px;
    }
}

@media (max-width:475px) {
    .sectionServiciosHome {
        font-size: 14px;
    }

    .sectionServiciosHomeDos {
        font-size: 25px;
    }

    .botonCarrusel {
        font-size: 16px;
    }

    .fuenteCarrusel {
        font-size: $fuente-pequeña;
    }
}

@media (max-width:403px) {
    .flechaAnimada {
        display: none;
    }
}

/* SECCIÓN FORMULARIO */

@media (min-width:671px) and (max-width:792px) {
    .contenedorR {
        font-size: 35px;
        padding-bottom: 15px;
    }
}

@media (max-width: 670px) {
    .contenedorP {
        font-size: 19px;
        padding-bottom: 15px;
    }

    .contenedorR {
        font-size: 30px;
        padding-bottom: 15px;
    }

    .contenedorT {
        font-size: 15px;
    }
}

@media (max-width: 1151px) {
    .contenedorUno {
        padding-left: 30px;
    }

    .contenedorDos {
        padding-right: 30px;
    }
}

@media (max-width: 600px) {
    .contenedorUno {
        display: none;
    }

    .contenedorDos {
        padding-left: 30px;
    }
}

/* FOOTER */

@media (min-width: 993px) and (max-width: 1625px) {
    .contenedorFooter {
        padding-left: 70px;
        padding-top: 50px;
    }

    .contenedorFooterUno {
        font-size: 16px;
    }

    .contenedorFooterDos {
        a {
            font-size: 16px;
        }
    }

    .contenedorFooterPie {
        font-size: 14px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .contenedorFooter {
        padding-left: 0px;
        padding-top: 50px;
    }

    .menuNav {
        font-size: $fuente-pequeña;
    }

    .nuestrosDatos {
        font-size: $fuente-pequeña;
    }

    .contenedorFooterUno {
        font-size: 14px;
    }

    .contenedorFooterDos {
        a {
            font-size: 14px;
        }
    }

    .contenedorFooterPie {
        font-size: 12px;
    }
}

@media (max-width:768px) {
    footer {
        display: grid;
        grid-template-rows: 550px 100px;
    }

    .contenedorFooter {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        padding-left: 0px;
        padding-top: 50px;
    }

    .menuNav {
        font-size: 20px;
        display: grid;
        align-items: start;
        padding-top: 25px;
        padding-left: 80px;
    }

    .nuestrosDatos {
        font-size: 20px;
    }

    .contenedorFooterUno {
        font-size: 14px;
        padding-top: 40px;
    }

    .contenedorFooterDos {
        text-align: left;
        padding-left: 50px;
        padding-top: 20px;

        a {
            font-size: 14px;
        }
    }

    .contenedorFooterPie {
        font-size: 12px;
        display: grid;
        align-self: end;
        padding-top: 100px;
    }
}

@media (max-width: 400px) {
    .contenedorFooter {
        padding-left: 0px;
        margin-left: 0;
    }

    .contenedorFooterUno {
        padding-left: 0px;
        margin-left: 0;
    }

    .nuestrosDatos {
        padding-left: 30px;
        margin-left: 0;
    }

    .menuNav {
        padding-left: 30px;
        margin-left: 0;
    }

    .contenedorFooterDos {
        padding-left: 0px;
        margin-left: 0;
    }
}


/* ICONO DE WHATSAPP FLOTANTE */

@media (max-width: 576px) {
    .whatsappIcon {
        width: 40px;
        height: 40px;

        img {
            width: 30px;
            height: 30px;
            margin-top: 5px;
            object-fit: scale-down;
        }
    }
}

/* GALERÍA */

@media (min-width: 992px) and (max-width: 1632px) {
    .galeriaContenedorPadre {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @include paddingGaleria;
    }

    .galeriaContenedorInterno {
        &:nth-child(1) {
            grid-row-start: span 1;
        }

        &:nth-child(3) {
            grid-column-start: span 1;
        }

        &:nth-child(6) {
            grid-row-start: span 2;
        }

        &:nth-child(8) {
            grid-column-start: span 1;
            grid-row-start: span 1;

        }
    }
}

@media (min-width: 600px) and (max-width: 991px) {
    .galeriaContenedorPadre {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @include paddingGaleria;
    }

    .galeriaContenedorInterno {
        &:nth-child(1) {
            grid-row-start: span 1;
        }

        &:nth-child(3) {
            grid-column-start: span 1;
        }

        &:nth-child(6) {
            grid-row-start: span 1;
        }

        &:nth-child(8) {
            grid-column-start: span 1;
            grid-row-start: span 1;
        }

        &:nth-child(9) {
            grid-column-start: span 1;
        }
    }
}

@media (max-width: 800px) {
    .galeriaTitulo {
        font-size: $fuente-titulo-responsive;
    }
}


@media (max-width: 599px) {
    .galeriaTitulo {
        margin-left: 80px;
    }

    .galeriaContenedorPadre {
        display: grid;
        grid-template-columns: 1fr;
        @include paddingGaleria;
    }

    .galeriaContenedorInterno {
        &:nth-child(1) {
            grid-row-start: span 1;
            grid-column-start: span 1;
        }

        &:nth-child(2) {
            grid-row-start: span 1;
            grid-column-start: span 1;
        }

        &:nth-child(3) {
            grid-column-start: span 1;
            grid-row-start: span 1;
        }

        &:nth-child(4) {
            grid-row-start: span 1;
            grid-column-start: span 1;
        }

        &:nth-child(5) {
            grid-row-start: span 1;
            grid-column-start: span 1;
        }

        &:nth-child(6) {
            grid-row-start: span 1;
            grid-column-start: span 1;
        }

        &:nth-child(7) {
            grid-row-start: span 1;
            grid-column-start: span 1;
        }

        &:nth-child(8) {
            grid-column-start: span 1;
            grid-row-start: span 1;
        }

        &:nth-child(9) {
            grid-row-start: span 1;
            grid-column-start: span 1;
        }

        &:nth-child(10) {
            grid-row-start: span 1;
            grid-column-start: span 1;
        }
    }
}

/* NOSOTROS */

@media (min-width: 1201px) and (max-width: 1625px) {
    .nosotrosP {
        font-size: 16px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .nosotrosHUno {
        font-size: $fuente-titulo;
    }

    .nosotrosP {
        font-size: 15px;
    }

}

@media (max-width:992px) {
    .nosotrosP {
        font-size: 15px;
    }
}

@media (max-width: 1400px) {
    .nosotrosContenedorPrincipal {
        @include flexColumn;
    }

    .nosotrosContenedorUno {
        width: $ancho-principal;
    }

    .nosotrosContenedorDos {
        width: $ancho-principal;
        padding-bottom: 80px;
        padding-right: 0;
        padding-top: 0;
        margin: 0;
        justify-content: center;
    }
}

@media (max-width: 800px) {
    .nosotrosHUno {
        font-size: $fuente-titulo-responsive;
    }

    .nosotrosContenedorPrincipal {
        @include marginConParametros(70px, 70px);
    }
}

@media (min-width: 768px) and (max-width: 800px) {
    .fotoCamionViejo {
        height: 550px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .fotoCamionViejo {
        width: 80%;
        object-fit: cover;
    }
}

@media (max-width: 767px) {
    .fotoCamionViejo {
        width: 85%;
        height: auto;
    }
}


/* CONTACTO */

@media (max-width: 1200px) {
    .contactoContenedorUno {
        padding-left: 0px;
    }

    div iframe {
        width: $ancho-principal;
        max-width: 700px;
        height: 350px;
    }
}

@media (max-width: 992px) {
    .contactoContenedorPrincipal {
        @include flexColumn;
    }

    .contactoHUno {
        font-size: $fuente-titulo-responsive;
    }

    .iconoUbicacion {
        display: none;
    }

    .contactoContenedorPrincipal {
        padding-top: 10px;
    }
}

@media (max-width: 600px) {
    .contactoHUno {
        margin-left: 60px;
    }

    .contactoContenedorPrincipal {
        @include marginConParametros(20px, 20px);
    }
}


/* SERVICIOS */
@media (max-width: 800px) {
    .serviciosHUno {
        font-size: $fuente-titulo-responsive;
    }
}

@media (max-width: 767px) {
    .serviciosHUno {
        margin-left: 80px;
        font-size: $fuente-titulo-responsive;
    }
}

@media (max-width: 576px) {
    .serviciosHUno {
        margin-left: 80px;
    }
}

@media (min-width: 993px) and (max-width:1625px) {
    .card-text {
        font-size: 21px;
    }

    .botonCard {
        font-size: 19px;
    }
}

@media (min-width:770px) and (max-width:992px) {
    .card-text {
        font-size: 19px;
    }

    .botonCard {
        font-size: 17px;
    }
}

@media (min-width:601px) and (max-width: 769px) {
    .card-text {
        font-size: 17px;
    }

    .botonCard {
        font-size: 15px;
    }

    .divPadreCards {
        margin-left: 110px;
        margin-right: 110px;
    }
}

@media (min-width:411px) and (max-width:600px) {
    .card-text {
        font-size: 17px;
    }

    .botonCard {
        font-size: 15px;
    }

    .card-title {
        font-size: 30px;
    }

    .divPadreCards {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width:410px) {
    .card-text {
        font-size: 16px;
    }

    .botonCard {
        font-size: 14px;
    }

    .card-title {
        font-size: 25px;
    }

    .divPadreCards {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (min-width: 1626px) and (max-width:2000px) {
    .card {
        width: 400px;
    }
}